@import "./tokens";

body {
    margin: 0;
    font-family: $kz-typography-data-large-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $kz-color-wisteria-700;
    color: $kz-color-cluny-700;
}
  
.container{
    max-width: $kz-layout-content-max-width;
    margin: 0 auto;
    padding: $kz-spacing-sm;
}
  
p{
    font-weight: $kz-typography-paragraph-body-font-weight;
    font-size: $kz-typography-paragraph-body-font-size;
    line-height: $kz-typography-paragraph-body-line-height;
    letter-spacing: $kz-typography-paragraph-body-letter-spacing;
    font-family: $kz-typography-paragraph-body-font-family;
    color: $kz-color-cluny-700;

    header & {
        color: $kz-color-white;
    }

    &.lead{
        font-weight: $kz-typography-paragraph-intro-lede-font-weight;
        font-size: $kz-typography-paragraph-intro-lede-font-size;
        line-height: $kz-typography-paragraph-intro-lede-line-height;
        letter-spacing: $kz-typography-paragraph-intro-lede-letter-spacing;
    }
}

h1{ 
    font-weight: $kz-typography-heading-1-font-weight;
    font-size: $kz-typography-heading-1-font-size;
    line-height: $kz-typography-heading-1-line-height;
    letter-spacing: $kz-typography-heading-1-letter-spacing;
    font-family: $kz-typography-heading-1-font-family;
    
}

h2{ 
    font-weight: $kz-typography-heading-2-font-weight;
    font-size: $kz-typography-heading-2-font-size;
    line-height: $kz-typography-heading-2-line-height;
    letter-spacing: $kz-typography-heading-2-letter-spacing;
    font-family: $kz-typography-heading-2-font-family;
 }

h3{ 
    font-weight: $kz-typography-heading-3-font-weight;
    font-size: $kz-typography-heading-3-font-size;
    line-height: $kz-typography-heading-3-line-height;
    letter-spacing: $kz-typography-heading-3-letter-spacing;
    font-family: $kz-typography-heading-3-font-family;
 }

h4{ 
    font-weight: $kz-typography-heading-4-font-weight;
    font-size: $kz-typography-heading-4-font-size;
    line-height: $kz-typography-heading-4-line-height;
    letter-spacing: $kz-typography-heading-4-letter-spacing;
    font-family: $kz-typography-heading-4-font-family;
}

h5{ 
    font-weight: $kz-typography-heading-5-font-weight;
    font-size: $kz-typography-heading-5-font-size;
    line-height: $kz-typography-heading-5-line-height;
    letter-spacing: $kz-typography-heading-5-letter-spacing;
    font-family: $kz-typography-heading-5-font-family;
    
 }

h6{ 
    font-weight: $kz-typography-heading-6-font-weight;
    font-size: $kz-typography-heading-6-font-size;
    line-height: $kz-typography-heading-6-line-height;
    letter-spacing: $kz-typography-heading-6-letter-spacing;
    font-family: $kz-typography-paragraph-intro-lede-font-family;
     
}